@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
.hero {
    min-height: 116vh;
    background-image: url('../../assets/images/back1.jpg');
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
    padding: 25px;
    margin-top: -200px;
 
    /* Set background color with opacity */
    background-color: rgba(0, 0, 0, 0);
    /* Adjust opacity value as needed */
   
}
.description{
    background-image: url('../../assets/images/back2.png');
    min-height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -150px;
    margin-right: -150px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero h1 {
    font-family: "Quintessential", serif;
    font-weight: 1500;
    font-style: normal;
    margin-top: 300px;
    font-size: 110px;
    animation: glow 100000s infinite;

    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    color:black;
    margin-bottom: 6px;
    border-radius: 80px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgb(255, 98, 36), 0 0 5px rgb(247, 86, 41), 0 0 5px rgb(240, 88, 18), 0 0 10px rgb(249, 102, 35), 0 0 25px rgb(247, 103, 25);
    }

    100% {
        text-shadow: 0 0 60px #0fa, 0 0 70px #0fa;
    }
}

.hero h3 span {
    font-family: "Merienda", cursive;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    background-color: black;
    color: goldenrod;
    border-radius: 15px;
   /* // border:1px solid white; */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 25rem;
  text-align: center;
}

.hero h3 span:hover{
  transform: scale(1.1);
box-shadow: 0 0 15px #1074ff;
}

.search {
    margin-top: 50px;

}

.search{
    font-size: 30px;
    border-radius: 25px;
    font-weight: 600;
    padding: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin:0 auto;
    display:block;
    border: 2px solid white;
}

button:hover {
    background-color:rgba(0, 0, 0, 0.648);
    cursor: pointer;
}


  
  .container {
  
    margin: 0 auto;
    text-align: center;

  }

  .container h2{
    margin-top: 50px;
  }
  
  .features {
    display: flex;
   flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
  }
  
  .feature {
    flex: 1 1 300px;
    backdrop-filter: blur(30px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:120px;
    width: 350px;
    border: 2px solid black;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #050505;
  }
  
  .feature p {
    font-size: 18px;
    color: #000000;
  }
  
 .feature1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
 }
 .footer {
    background-color: #333;
    color: #fff;
    bottom: 0;
    margin-left: -150px;
    margin-right: -150px;
   
    margin-bottom: 0;
    margin-bottom: -35px;
  }
  
 
  .footer-content {
    display: flex;
    justify-content: space-between;
   gap:20rem;
  }
  
  .footer-column {
   height: 150px;
   width: 150px;
  }
  
  .footer-column h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    margin: 5px 0;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }

 .copyright{
    margin-top: 50px;
 }
  